openapi: 3.0.3
info:
  title: Truffle
  description: |-
    Truffle API based on this spec: [https://docs.google.com/document/d/1Quf4mArWDa0-fqe8_39nMxL01D9y3pNhxyU5AqpVsn4/edit]
  version: 0.0.0-replace
  license:
    name: See license agreement
servers:
  - url: https://api.truffle.com
  - url: https://api.truffledev.com
tags:
  - name: KDS
    description: API for sending order to the kitchen display system
    externalDocs:
      description: KDS specification
      url: https://docs.google.com/document/d/1Quf4mArWDa0-fqe8_39nMxL01D9y3pNhxyU5AqpVsn4/edit
  - name: Menu Management
    description: API for managing the menu systems
paths:
  /departmentapi:
    $ref: ./paths/departmentapi.yaml
  /hide_category:
    $ref: ./paths/hide_category.yaml
  /hide_menu:
    $ref: ./paths/hide_menu.yaml
  /hide_modifier:
    $ref: ./paths/hide_modifier.yaml
  /hide_modifiergroup:
    $ref: ./paths/hide_modifiergroup.yaml
  /hide_subcategoery:
    $ref: ./paths/hide_subcategoery.yaml
  /kds_order_center:
    $ref: ./paths/kds_order_center.yaml
  /menu_api_center_edge:
    $ref: ./paths/menu_api_center_edge.yaml
  /menu_category_list:
    $ref: ./paths/menu_category_list.yaml
  /menu_categoryapi:
    $ref: ./paths/menu_categoryapi.yaml
  /menu_list:
    $ref: ./paths/menu_list.yaml
  /menu_sub_category_list:
    $ref: ./paths/menu_sub_category_list.yaml
  /menu_sub_categoryapi:
    $ref: ./paths/menu_sub_categoryapi.yaml
  /modifier_api:
    $ref: ./paths/modifier_api.yaml
  /modifier_group_api:
    $ref: ./paths/modifier_group_api.yaml
  /modifiregroupList:
    $ref: ./paths/modifiregroupList.yaml
  /modifireList:
    $ref: ./paths/modifireList.yaml
  /servicesizeapi:
    $ref: ./paths/servicesizeapi.yaml
  /taxesapi:
    $ref: ./paths/taxesapi.yaml
  /update_menu_api:
    $ref: ./paths/update_menu_api.yaml
  /update_menu_category:
    $ref: ./paths/update_menu_category.yaml
  /update_menu_subcategory:
    $ref: ./paths/update_menu_subcategory.yaml
  /update_modifier:
    $ref: ./paths/update_modifier.yaml
  /update_modifiergroup:
    $ref: ./paths/update_modifiergroup.yaml  
components:
  securitySchemes:
    bearerAuth:
      $ref: ./components/securitySchemes/bearerAuth.yaml
